.classpath
.factorypath
.gradle/
.project
.settings/
derby.log
target/
RemoteSystemsTempFiles/
.recommenders/
.metadata/
lastway-web-b/
deployments/
web-app/
web-test/
persistence.xml
*.ear
*.war
*.jar
*.class
*.iml
.idea/